<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="icon" href="/images/cloud.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/css/allfiles.css" />
    <link rel="stylesheet" href="/css/success&error.css" />

    <title>All Files - My Drive</title>
  </head>
  <body>
    <img
      src="/images/panel-left-close.svg"
      alt="toggle side bar"
      class="menu-toggle"
      onclick="toggleSidebar()"
    />

    <div class="container">
      <%- include('sidebar')%>
      <main class="main">
        <%- include('welcome.ejs')%>
        <h1>All Files</h1>
        <%- include('flash.ejs')%>
        <div class="file-list" id="fileList">
          <% if (files.length === 0) { %>
          <p class="empty-message">
            You haven’t uploaded any files yet. Upload some to see them here. 📄
          </p>
          <% } else { %> <% files.forEach(file => { %>
          <div class="file">
            <span class="file-name"><%= file.fileName %></span>
            <span class="file-meta">
              <%= (file.fileSize / (1024 * 1024)).toFixed(2) %> MB - Uploaded on
              <%= new Date(file.uploadedAt).toLocaleDateString('en-US', { year:
              'numeric', month: 'short', day: 'numeric' }) %>
            </span>
            <div class="action">
              <form action="/delete-file/<%= file.id %>" method="POST">
                <button class="delete-btn" type="submit">Delete</button>
              </form>
              <form action="/download-file/<%= file.id %>" method="POST">
                <input
                  type="image"
                  src="/images/download.svg"
                  alt="Download button icon"
                />
              </form>
            </div>
          </div>
          <% }); %> <% } %>
        </div>
      </main>
    </div>
    <script>
      function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("hidden");
      }
      function addActiveIndicator(element) {
        const elementDiv = document.querySelector(`.${element}`);
        console.log(elementDiv);
        if (elementDiv) {
          elementDiv.classList.add("active");
        }
      }

      addActiveIndicator("fileSide");
    </script>
  </body>
</html>
